body {
    margin: 10;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1, h2, h3, p, button, a {
    text-align: center;
    align-items: center;
}

.day {
    width: 250px;
    height: 250px;
    background-color: blanchedalmond;
    text-align: center;
    border: 5px solid black;
    border-radius: 15px;
    font-size: 68px;
    text-transform: capitalize;
    margin: 15px;

}

.profilepic img{
    width: 500px;
    border-radius: 250px;
}