{% extends 'base.html' %}
{% block title %}<title>Choose Your Day</title>{% endblock %}

{% block body %}
{% block nav %}{% endblock %}

<h1>Choose Your Day</h1>
<p>Once you complete a quiz, you cannot return to it...!</p>
<div class="container">
    <a href="/quiz/"><button class="btn day">DAY ONE</button></a>
    <a href="#"><button class="btn day">DAY TWO</button></a>
    <a href="#"><button class="btn day">DAY THREE</button></a>
    <a href="#"><button class="btn day">DAY FOUR</button></a>
    <a href="#"><button class="btn day">DAY FIVE</button></a>
</div>
