{% extends 'base.html' %}
{% block title %}<title>Quiz Time</title>{% endblock %}

{% block body %}
<h1>THIS IS THE END</h1>

<p>Well done {{user}}, your results are as follows:</p>

<h2>Right Answers: {{day_scores[days_completed - 1]}}!</h2>

<h2>Wrong Answers: {{wrong}}!</h2>
<div class="container">
    <a href="/"><button class="btn btn-danger">HOME</button></a>
    {% if current_user.username %}
    <a href="/user"><button class="btn btn-warning">PROFILE</button></a>
    {% else %}
    <a href="/login"><button class="btn btn-warning">LOG IN</button></a>
    {% endif %}
    <a href="/daychoice"><button class="btn btn-primary">DAY QUIZ</button></a>
    <a href="/logout"><button class="btn btn-danger">LOG OUT</button></a>
    <a href="/chart"><button class="btn btn-secondary">CHART</button></a>
</div>


{% endblock %}
